@import url('https://fonts.googleapis.com/css2?family=Damion&family=DynaPuff:wght@400;700&family=Kalam&display=swap');

@import url(Style/carrosel\ .css);
@import url(Style/home.css);
@import url(Style/header.css);


:root {
    --cor-de-fundo:#f6f6f6;
    --cor-de-navegacao:#fae8ff;
    --fonte-principal:"DynaPuff";
    --fonte-titulo:"Damion";
    --fonte-texto: "Kalam";
    --rosa-principal:#ec4899;
    --preto: #000;
}

body{
    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-family: var(--fonte-principal);
    font-weight: 400;
}