
.container__contatos {
    background-image: url(../images/Fundo-secundario.png);
    height:auto ;
}

.container__contatos >.container__titulo {
    font-family: var(--fonte-principal);
    color: var(--rosa-principal);
    font-weight: 700;
    font-size: 1.8em;
    width: 77.4vw;
    padding: 0.5em 1.5em;
}

.container__links__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.container__links {
    margin-top: 20px;
    
}

.link-item{
    display: flex;
    background: var(--rosa-principal);
    width: 150px;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #7e1340;
    box-shadow: 2px 1px 9px #e64085;

}
.link-item a{
    margin: 23px 2px;
    text-decoration: none;
    color: var(--cor-de-fundo);
}

.link-item img{
    height: 45px;
    margin: 10px 10px 5px 5px;
}

#map{
    height: 380px; 
    width: 80%; 
    background: #ddd;
    margin: 10%;
    border-radius: 5%;
}

.mapa {
    padding: 0 0 0 0;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mapa__endereco {
    padding: 0 10% 10% 15%;
    font-size: 14px;

}

@media screen and (min-width:1024px) {
    .container__contatos >.container__titulo {
        font-size: 2em;
        padding: 1.5em 2.5em;
    }
    .container__links__lista{
        flex-direction: row;
    }
    .link-item{
        width: 180px;
        margin: 5px 15px;
        justify-content: center;
    }
    #map{
        height: 480px; 
        width: 80%; 
        margin: 3% 0 0 0;
    }
    
}

