.container {
    align-items: center;
}


.cabecalho {
   background-image: url(../images/Fundo-secundario.png) ;
   background-repeat:repeat-x;
   background-size:contain;
   display: flex;
   flex-direction: column;
   position: relative;
   
}
.imagemFundo{
    width: 100vw;
}
.imagemFundo img {
    width: 100%;
}

.pricipal {
    display: flex;
}

.container__imagem {
    width: 35vw;
    height: 35vw;
}


.container__navegacao{
    width: 100vw;
    height: 35px;
}

.container__listas{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.container__item{
    text-decoration: none;
    font-size: 20px;
    color: var(--rosa-principal);
    
}


