
.container__texto {
    display: flex;
    text-align: center;
    flex-direction: column;
    text-align: start;
    margin: 2em 3em;
}

.container__titulo {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 30px;
    
}

.container__titulo +.container__descricao {
color: var(--rosa-principal);
font-size: 25px;
font-weight:700;
}

.container__descricao {
    font-size:13px;
    font-weight: 400;
}

