
.container__botoes {
    padding: 10px 0 10px 45px;
    margin: 0 0 25px 0;
    height: 50px;
}

.container__temas {
    height: 300px;
}

.container__temas .container__titulo{
    font-family: var(--fonte-texto);
    font-weight: 500;
    font-size: 26px;
    padding-left: 35px;
}

.botoes{
    background-color: var(--rosa-principal);
    font-size: 18px;
    font-family: var(--fonte-texto);
    font-weight: 400;
    color: var(--cor-de-fundo);
    border-radius: 20%;
    border: 2px solid #7e1340
}
